---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Jaimie Garber</h1>
			<p>
				Santa Clarita native Jaimie Garber, certified by the Council for Professional Dog Trainers, passionately provides comprehensive pet care, specializing in strengthening the bond between pets and owners. She cherishes her roles as a professional, wife, and mother.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="../assets/jaimiesin.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>Born and raised in the heart of Santa Clarita, I am profoundly committed to serving the place I call home, and more importantly, its beautiful and diverse animal community. From the winding trails to the quiet neighborhoods, I have spent a lifetime caring for the creatures that make our region unique. My journey, woven with love and dedication to animal care, began in the early 2000s.</p>

    <p>In 2004, I set my foot into the professional world, my destination of choice was a local veterinary office. It was there that I cut my teeth, learning firsthand about the physical and emotional needs of our animal friends. I was fortunate to work alongside experienced veterinarians and animal health technicians, whose wisdom and guidance laid a strong foundation for my future endeavors. The invaluable experiences garnered in this setting honed my understanding of animals, their behavior, and their interaction with humans.</p>
    
    <p>As someone who believes in the power of continuous learning, I decided to expand my horizon beyond the practical experience and embarked on a more academic path. I enrolled in Moorpark College's renowned Exotic Animal Training and Management (E.A.T.M.) program. The rigorous curriculum, combined with practical learning opportunities, provided a comprehensive understanding of animal behavior and training techniques. After diligent studies and rigorous examinations, I was honored with Associate in Science degrees in both Animal Training and Animal Behavior.</p>
    
    <p>Never one to rest on my laurels, I sought further professional advancement by obtaining a prestigious certification. I trained meticulously to meet the standards set by the Certification Council for Professional Dog Trainers, a body known for their stringent evaluation process and their commitment to ensuring the highest professional standards in the field. Earning this certification was not just an accomplishment, but also a testament to my commitment to providing the best care and training for dogs.</p>
    
    <p>While my career has seen me interact with a wide range of animals, from the most domestic to the most exotic, I have found the deepest sense of satisfaction in a rather specific aspect. It lies in the transformation of the relationship between owners and their pets. Watching a bond grow, nurturing it, and seeing it culminate into a lifelong friendship between a human and their pet fills me with an unparalleled sense of accomplishment. It’s in these moments, when an owner sees their pet not just as an animal, but as a happy, healthy, and well-trained companion, that I feel most rewarded.</p>
    
    <p>Alongside this fulfilling professional journey, I am blissfully married to my incredible partner, Justin Garber. He has been a pillar of support, a cheerleader, and a partner in every sense. But our family doesn't end there. We are the proud parents of two beautiful children, our most precious treasures. Navigating through the roles of a professional, a wife, and a mother can be challenging, but the joy and fulfillment it brings are incomparable. Each role has its demands, its unique charm, and I wouldn’t have it any other way.</p>
    
    <p>Every morning, I wake up looking forward to another day of serving my community, making a difference in the lives of animals and their owners, and cherishing precious moments with my family. These are the threads that weave the tapestry of my life - one that's rich with purpose, love, and an enduring commitment to the creatures that share our world.</p>
    
  </TextSection>
</Layout>
